<configuration scan="true" scanPeriod="15 seconds">
	<springProperty name="environment" source="spring.profiles.active"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd|HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${environment:-prod}/portfolio.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <!-- daily rollover -->
          <fileNamePattern>logs/${environment:-prod}/portfolio.%d{yyyy-MM-dd}.log</fileNamePattern>
    
          <!-- keep 7 days' worth of history capped at 1.4GB total size -->
          <maxHistory>7</maxHistory>
          <totalSizeCap>2GB</totalSizeCap>
    
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd|HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>